@page
@model Water_Logger.Pages.CreateModel
@{
    ViewData["Title"] = "Create Page";
}
<form method="post">
    <div class="border mt-4 p-3">
        <div class="row pb-3">
            <h2 class="text-primary pl-3">CREATE LOG <i class="bi bi-droplet"></i></h2>
            <hr/>
        </div>

        <div class="mb-3">
            <label asp-for="@Model.LoggingData.Date"></label>
            <input asp-for="@Model.LoggingData.Date" class="form-control mt-2" type="Date">
            <span asp-validation-for="LoggingData.Date" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="@Model.LoggingData.Quantity"></label>
            <input asp-for="@Model.LoggingData.Quantity" class="form-control mt-2">
            <span asp-validation-for="LoggingData.Quantity" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary" style="width:25%;">CREATE</button>
        <a asp-page="/Index" class="btn btn-secondary" style="width:25%;">BACK TO INDEX</a>
    </div>

</form>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial"></partial>
    }
}